# Ignore the entire "node_modules" folder
node_modules/

# Ignore a folder named "my_secret_folder" anywhere in the project
my_secret_folder/

# Ignore a specific folder only at the root level
style.css 
js/ 
